h1{
    color: #ff0000;
    font-size: 64px;
    text-shadow: 10px 10px 10px #ff0000;
}
p{
    color: blue;
    font-size: 30px;
    font-weight: 900;
/*    font-style: italic;
    font font-family: 
    line-height: 50px;
    letter-spacing: 10px;
    word-spacing: 40px;
    text-align: justify;
    */
    text-transform: lowercase;
    text-decoration: underline;
   
}
/*  bold = negrito
    bolder = negrito forte
    lighter = bem fino
    */

